<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Calculator.Properties.Settings.DBTransactionConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DBTransaction.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Calculator.Properties.Settings.StockTestConnectionString"
            connectionString="Data Source=.;Initial Catalog=StockTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>